@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using Umbraco.Cms.Web.Common.PublishedModels;

@{

	var content = (ContentModels.HeroSection)Model.Content;


}
<section class="relative py-[7rem] xs:py-16 md:py-32 overflow-hidden ">
    @if (content.HeroBgImage != null)
    {
        <img src="@content.HeroBgImage.Url()" class="hero-section-bg" alt="Bg Image"/>
    }

    <div class="max-w-7xl mx-auto px-4 relative z-10">
        <div class="w-5/12 flex flex-col gap-8 xs:w-full xxs:w-full md:w-6/12">
            <h1 class="text-[4.5rem] text-primary font-bold leading-none">@content.HeroTitle</h1>
            <div class="rte sm:max-w-1/2 md:max-w-full">@Html.Raw(content.HeroText)</div>
            @if (content.HeroLink != null)
            {
                <a class="inline-block w-fit bg-primary text-white py-3 px-10 no-underline rounded cursor-pointer" href="@content.HeroLink.Url">@content.HeroLink.Name</a>
            }
        </div>
    </div>
</section>